@using Sitecore.Mvc
@using SitecoreResponsiveImages.Extensions
<div>
    @Html.Sitecore().ResponsiveImage("Image", new { w = 150, @class="responsive" }, new ResponsiveSizes { Default="300", Mobile="300,450", Tablet="400,600", Desktop="600,900" })
</div>